<h1>Profile</h1>
  <div class="profile_name">
    Name: <%= @user.name %>
  </div>

  <div class="profile_handle">
    Handle: @<%= @user.handle %>
  </div>

  <div>
    <ul>
      <li>Followers: <a href="/users/<%= @user.id %>/followers"><%=@user.followers.count %></a></li>
      <li>Followees: <a href="/users/<%= @user.id %>/followees"><%=@user.followees.count %></a></li>
      <li> <form method="post" action="/users/<%=@user.id%>">
     <% if @user.id != session[:id] && @user.followers.where(id: session[:id]).empty? %>
    <input type="submit" value = "FOLLOW ME!!">
    NB: You can't follow yourself & you can only follower others once! </div>
    <% end %></li>
    </ul>
  </div>

  <div class="profile_tweet">
    Tweets:
    <ul>
    <% @user.tweets.reverse_each do |tweet| %>

      <li><%= tweet.created_at.strftime('%b %d') %> - <%= tweet.content %></li>

    <% end %>
    </ul>
  </div>


